@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav .logo {
    font-size: 2.5vw;
}

nav #check {
    display: none;
}

nav label i {
    display: none;
}

ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-top: 10px;
    width: 80%;
}

ul li {
    list-style: none;
}

li a {
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(17, 7, 7);
    padding: 1.4rem 1rem;

}

li a:hover {
    color: rgb(255, 122, 46);
}

ul .signbtn {
    width: 100px;
    height: 4vh;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 122, 46);
    border-radius: 2px;
    font-weight: 700;

}

.container {
    padding: 80px 50px;
    display: flex;
    z-index: 0;
    height: 90vh;
}

.container .left {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    padding-top: 20px;
    flex-direction: column;

}

.left h1 {
    font-size: 3.8vw;
}

.left h1 span {
    color: rgb(255, 122, 46);
}

.left p {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 1.4vw;
}

.left .explore {
    margin-top: 30px;
    width: 150px;
    height: 5vh;
    color: #fff;
    background-color: rgb(255, 122, 46);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;

}

.container .right {
    padding: 20px;
    height: 70vh;

}

.right img {
    width: 100%;
    height: auto;
}

@media (max-width:700px) {

    ul {
        background-color: #fff;
        position: fixed;
        top: 60px;
        right: -100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        height: 100%;
        width: 60%;
        transition: all .3s ease;
        box-shadow: -3px -1px 5px rgb(177, 172, 172);
    }

    ul li {
        
        margin-left: 20px;
        margin-top: 20px;
       

    }

    ul li a {
        
        font-size: 1rem;
        padding: 4px 10px;
        transition: all .3s ease;

    }

    ul li a:hover {
       
        color: rgb(255, 122, 46);
    }

    ul .signbtn {
        margin-top: 30px;
        margin-left: 20px;
        width: 110px;
    }

    nav .logo {
        font-size: 1.3rem;
    }

    nav label i {
        display: block;
        cursor: pointer;
        font-size: 1.3rem;
        padding: .2em;
        border-radius: 5px;
        transition: all .3s;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    nav {
        padding: 0 30px;
    }

    .container {
        padding: 80px 30px;

    }

    #check:checked~ul {
        right: 0%;

    }

    i:hover {
        box-shadow: 0px 0px 0px 3px #a29c9c;

    }

    #check:checked~label i::before {
        content: '\F4C7';
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .container .left {
        width: 100%;
    }

    .left h1 {
        margin-left: 3px;
        font-size: 1.8rem;
    }

    .left p {
        font-size: .9em;
    }

    .left .explore {
        width: 120px;
    }


}