* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    border: 2px solid #b8b5b5;
}

.nav .Logo-div h2 {
    padding: 0 3vw;
    font-size: 2vw;
    font-weight: 700;
}

.nav a {
    font-size: 1.2vmax;
    text-decoration: none;
    color: black;
}

.nav .links-div {
    padding-top: 3vw;
    display: flex;
    gap: 7vh;

}

.links-div #sign-btn {
    padding: .5vw 1.4vw;
    margin-bottom: 1.5vw;
    color: #fff;
    background-color: #ff735c;
    font-size: 1vw;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;

}

.links-div #themebtn {
    display: flex;
    padding: .5vw 1.4vw;
    margin-bottom: 1.5vw;
    color: #434040;
    font-size: 1vw;
    border: 1px solid gainsboro;
    border-radius: 2px;
    cursor: pointer;

}

.links-div #themebtn #span {
    margin-left: 5px;
    margin-top: 2px;
    display: block;
    transform: rotate(180deg);
    transition: all .3s;
}



.nav .icon {
    display: none;

}

@media (max-width:600px) {

    .nav {
        height: 60px;
        padding: 0 20px;

    }

    .nav .icon {
        display: block;

    }

    .nav .icon button {
        padding: 5px;
        background-color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        font-size: 20px;
    }

    .icon button:focus {
        box-shadow: 0px 0px 0px 3px rgb(95, 92, 92);

    }


    .nav .links-div {
        display: none;

    }

    .nav .Logo-div h2 {
        font-size: 20px;
    }


}

.main-content {
    width: 100%;
    height: calc(100% - 10vh);
    display: flex;

}

.main-content .left-div {
    height: 100%;
    padding: 5vw 5vw;
}

.left-div h1 {
    font-size: 4.3vw;
    line-height: 6vw;
}

.left-div span {
    color: #ff735c;
}

.left-div p {
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.left-div button {
    padding: .7vw .7vw;
    color: #fff;
    background-color: #ff735c;
    font-size: 1.2vw;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
}

.main-content .right-div {
    width: 100%;
    height: 100%;
    padding: 50px 20px 0 0;
}

.right-div img {
    width: 100%;
    margin-top: 20px;
}

@media (max-width:600px){

    .main-content {
        height: calc(100% - 60px);
        flex-direction: column;

    }

    .left-div {

        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 10px;

    }

    .left-div h1 {
        font-size: 8vw;
        line-height: 11vw;
        padding: 0 0 0 0;

    }

    .left-div span {
        color: #ff735c;
    }

    .left-div p {
        font-size: 3vw;
        padding: 0 10px 0 0;
    }

    .right-div {
        width: 100%;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .left-div button {
        width: 120px;
        height: 40px;
        font-size: 3.2vw;
        margin-top: 10px;
        font-weight: 700;

    }

    .right-div img {
        width: 90%;
        height: 100%;
    }

}

.menu-div {
    width: 120px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 283px;
    bottom: 580px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 12px 22px 32px 3px gray;
    gap: 10px;
}

.menu-div a {
   
    padding: 5px;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 3px;

}

.menu-div a:hover {
    background-color: #ff735c;
    color: #fff;

}

#Signbtn {

    width: 70px;
    height: 25px;
    margin-top: 10px;
    color: #fff;
    background-color: #ff735c;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;

}



@media (min-width:600px ){
    .menu-div{
        visibility: hidden;
    }
    
}